## Preprocessing

In [53]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
#import tensorflow as tf

In [54]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [55]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = application_df.drop(columns=['EIN', 'NAME'])

In [ ]:
# Determine the number of unique values in each column.
df.nunique()

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
replace =df['APPLICATION_TYPE'].value_counts()
replace = pd.DataFrame(replace)
replace

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = replace[ replace['APPLICATION_TYPE'] < 500]
application_types_to_replace = application_types_to_replace.index.tolist()
application_types_to_replace

In [ ]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

In [ ]:
# Look at CLASSIFICATION value counts for binning
replace1 = df['CLASSIFICATION'].value_counts()
replace1

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
replace1 = pd.DataFrame(replace1)
df_filtered = replace1[replace1['CLASSIFICATION'] > 1]
df_filtered

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = replace1[ replace1['CLASSIFICATION'] <1000]
classifications_to_replace = classifications_to_replace.index.tolist()
classifications_to_replace

In [ ]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

In [77]:
# Convert categorical data to numeric with `pd.get_dummies`
aff = pd.get_dummies(df[['AFFILIATION', 'USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS']])
df1 = pd.concat([df, aff], axis = 1)
df2 = df1.drop(['AFFILIATION', 'USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'], axis=1)
df2

,APPLICATION_TYPE,CLASSIFICATION,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,T10,C1000,1,5000,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,T3,C2000,1,108590,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,T5,C3000,1,5000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,T3,C2000,1,6692,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,T3,C1000,1,142590,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,T4,C1000,1,5000,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,T4,C3000,1,5000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,T3,C2000,1,5000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,T5,C3000,1,5000,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,T3,C1000,1,36500179,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0

In [80]:
# Split our preprocessed data into our features and target arrays
y = df2['STATUS']
x = df2.drop(columns=['STATUS'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=78)

In [81]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

ValueError: could not convert string to float: 'T6'

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE

# Second hidden layer
#  YOUR CODE GOES HERE

# Output layer
#  YOUR CODE GOES HERE

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
#  YOUR CODE GOES HERE

In [ ]:
# Train the model
#  YOUR CODE GOES HERE

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE